<div class="table-responsive">
    <table class="table table-bordered table-hover mt-1">
        <thead class="thead-dark">
          <tr class="table-primary">
            <th scope="col">C.No</th>
            <th scope="col">CompanyName</th>
            <th scope="col">Company Type</th>
            <th scope="col">MobileNo</th>
            <th scope="col">Emsil-Id</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Branch</th>
            <th scope="col">Company Website</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let C of Company index as i">
            <th>{{i+1}}</th>
            <td>{{C.CompanyName}}</td>
            <td>{{C.CompanyType}}</td>
            <td>{{C.Phoneno}}</td>
            <td>{{C.Emailid}}</td>
            <td>{{C.Address}}</td>
            <td>{{C.City}}</td>
            <td>{{C.State}}</td>
            <td>{{C.Branch}}</td>
            <td>{{C.CompanyWebsite}}</td>
          </tr>
        </tbody>
      </table>
    </div>




