<div class="table-responsive">
    <table class="table table-bordered table-hover mt-4">
        <thead class="thead-dark">
          <tr class="table-primary">
            <th scope="col">S.No</th>
            <th scope="col">Name</th>
            <th scope="col">Email-Id</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">SSC</th>
            <th scope="col">Inter</th>
            <th scope="col">Qualification</th>
            <th scope="col">Company Name</th>
            <th scope="col">JobCategory</th>
            <th scope="col">Required Skills</th>
            <th scope="col">Resume</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let S of students index as i">
            <th>{{i+1}}</th>
            <td>{{S.studentname}}</td>
            <td>{{S.mobile}}</td>
            <td>{{S.gender}}</td>
            <td>{{S.emailid}}</td>
            <td>{{S.dob | date}}</td>
            <td>{{S.address}}</td>
            <td>{{S.collegename}}</td>
            <td>{{S.education}}</td>
            <td>{{S.branch}}</td>
            <td>{{S.passyear}}</td>
            <td>{{S.skills}}</td>
            <td>{{S.extraskills}}</td>
          </tr> -->
        </tbody>
      </table>
    </div>






