<div class="table-responsive">
    <table class="table table-bordered table-hover mt-1">
        <thead class="thead-dark">
          <tr class="table-primary">
            <th scope="col">S.No</th>
            <th scope="col">Name</th>
            <th scope="col">Email-Id</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">SSC</th>
            <th scope="col">Inter</th>
            <th scope="col">Qualification</th>
            <th scope="col">Company Name</th>
            <th scope="col">JobCategory</th>
            <th scope="col">Required Skills</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let S of students index as i">
            <th>{{i+1}}</th>
            <td>{{S.name}}</td>
            <td>{{S.emailid}}</td>
            <td>{{S.phone}}</td>
            <td>{{S.ssc}}</td>
            <td>{{S.inter}}</td>
            <td>{{S.qualification}}</td>
            <td>{{S.companyname}}</td>
            <td>{{S.jobcategory}}</td>
            <td>{{S.requiredskills}}</td>
            <td>{{S.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>






