.main{
    width: 40%;
    margin: auto;
}
h2{
    color: blue;
    text-align: center;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
mat-card{
    background-color: aliceblue;
    margin-top: 10px;
}
.full-width-input{
    width: 95%;
    margin: auto;
}
.button{
    display: block;
    justify-content: center;
}