<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="StdloginForm" (ngSubmit)="Login()">
          <h2>Student-Login</h2>
          <mat-form-field class="full-width-input" appearance="outline">
            <mat-label>Email-Id</mat-label>
            <input 
             matInput
             placeholder="Email-Id"
             class="form-control" 
             formControlName="emailid"
            >
          </mat-form-field>
          <mat-form-field class="full-width-input" appearance="outline">
            <mat-label>Password</mat-label>
            <input
             matInput
             type="password"
             placeholder="password" 
             class="form-control" 
             formControlName="password"
            >
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit">Login</button>
          <div class="Reg mt-2">
            <a routerLink="/Home/Student-Register">New Person Registered Here ?</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>



