<div class="main">
        <form [formGroup]="EditForm" (ngSubmit)="Edit()">
            <div class="row">
                <h2>Placement Officer Registration</h2>
            </div>

            <div class="row">
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Name</mat-label>
                <input 
                 matInput
                 class="form-control" 
                formControlName="Name"
                >
              </mat-form-field>

              <mat-radio-group aria-label="Select an option" class="full-width-input" formControlName="Gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">FeMale</mat-radio-button>
              </mat-radio-group>

              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Email-Id</mat-label>
                <input 
                 matInput
                 placeholder="Email-Id"
                 class="form-control" 
                 formControlName="EmailId"
                >
              </mat-form-field>

              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Phoneno</mat-label>
                <input
                 matInput
                 type="text" 
                 class="form-control" 
                 formControlName="Mobileno"
                >
              </mat-form-field>

              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>City</mat-label>
                <input 
                 matInput
                 class="form-control" 
                 formControlName="City"
                >
              </mat-form-field>

              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="Address"></textarea>
              </mat-form-field>
            </div>
            <div  class="text-center mb-4">
              <button class="btn btn-success" [disabled]="this.EditForm.invalid">Update Placement Officer</button>&nbsp;
              <button class="btn btn-danger" mat-dialog-close>Cancel</button>
            </div>

        </form>

</div>
