<div class="table-responsive">
    <table class="table table-bordered table-hover mt-1">
        <thead class="thead-dark">
          <tr class="table-primary">
            <th scope="col">J.No</th>
            <th scope="col">CompanyName</th>
            <th scope="col">Job Location</th>
            <th scope="col">JobRole</th>
            <th scope="col">Qualification</th>
            <th scope="col">Job Category</th>
            <th scope="col">Required Skills</th>
            <th scope="col">Apply LastDate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let J of Jobs index as i">
            <th>{{i+1}}</th>
            <td>{{J.CompanyName}}</td>
            <td>{{J.JobLocation}}</td>
            <td>{{J.JobRole}}</td>
            <td>{{J.Qualification}}</td>
            <td>{{J.JobCategory}}</td>
            <td>{{J.RequiredSkills}}</td>
            <td>{{J.ApplylastDate | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>





